CompileFlags:
  CompilationDatabase: /workspaces/ESP32_dev/hello_world/build
  Add:
    - -I/workspaces/ESP32_dev/hello_world/main
    - -I/workspaces/ESP32_dev/hello_world/build/config
  Remove:
    - -fno-shrink-wrap
    - -fstrict-volatile-bitfields
    - -fno-tree-switch-conversion
